body, html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    color: #999999;
    background: #1f1f1f;
    line-height: 1.7;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

#__next {
    height: 100vh;
    width: 100vw;
}

/* Hide scrollbar for modern browsers */
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and newer Edge */
}

/* Hide scrollbar for Firefox */
body, * {
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for older Edge and Internet Explorer */
body, * {
    -ms-overflow-style: none; /* IE and older Edge */
}

* {
    box-sizing: border-box;
}